@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /*font-family: Consolas, sans-serif;*/
    --Pcolor:rgb(50, 100, 100);
    --Mcolor:rgb(0, 100, 100);
    --Scolor:rgb(155, 255, 255);
    --HeaderColor: #878787;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.background{
    z-index: -1;
    position:fixed;
    width: 100%;
    height: inherit;
    background-color: rgba(255, 255, 255, 1);
}

.background img{
    width: 100%;
    height: 100vh;
    filter: brightness(55%);
    object-fit: cover;
}



#logo img {
    width: 45px;
    margin: 6px 10px 0 7px;
    border-radius: 15px;
    /*box-shadow: 0 0px 10px 1px black;*/
    transition: scale 0.3s ease-in-out;
}

#logo img:hover{
    transition: scale 0.3s ease-in-out;
    scale: 1.1;
}

#logo{
    margin-right: 10px ;
}

/* header */
header {
    width: 100%;
    height: 55px;
    /*background-color: rgba(255, 255, 255, 0.2); this just for homePage*/ 
    background-color: black;
    backdrop-filter: blur(10px);
    display: flex;
    /*justify-content: space-between;
    box-shadow: 0 0px 15px 1px black;*/
    font-size: 1rem;
    font-weight:normal;
    color: white;   
}

nav{
    display: inline;
    width: 100%;
    height: inherit;
    /*
    display: flex;
    flex-direction: row;
    justify-content: end;*/
}

.leftSide{
    margin-left: 0;
    margin-right: auto;
    float: left;
    display: inline-flex;
    height: inherit;
}

.rightSide{
    margin-right: 0;
    margin-left: auto;
    float: right;
    display: inline-flex;
    height: inherit;
}

.option{
    transition: background-color 0.3s ease;
    /*border: 1px solid black;*/
    width: 80px;
    height: 100%;
    position: relative;
    user-select: none;
    /*background-color: var(--Mcolor);*/
}

.option :hover{
    transition: background-color 0.3s ease;
    background-color: var(--Pcolor);
}

.option a{
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginStyle{
    color: #03A6A6;
}
#loginStyle:hover{
    color: white;
}

.CoursSelector,.TdSelector{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.listCours,.listTd{
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    background-color: var(--Pcolor);
    border: 1px solid black;
}

.listCours a,.listTd a{
    transition: background-color 0.3s ease;
    padding: 10px;
    margin: 5px 0;
}


.listCours a:hover,.listTd a:hover{
    transition: background-color 0.3s ease-out;
    background-color: #AAA;
}

li,ul{
    list-style-type: none;
    padding-left: 0;
}

/* main */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    
}

/*main span{
    padding: 20px;
}*/
main section{
    text-align: center;
}

main fieldset{
    padding: 30px;
    margin: 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

main input,main select{
    padding: 5px 10px;
    font-size: 1.1rem;
}

.welcomeText{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large ;
    font-weight: bold;
    font-size:50px;
    width:385px;
    margin: auto;
    margin-top: 70px;
    color: white;
    text-align: center;
    /*background-color: rgba(3, 166, 166,0.4);*/
}
.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8vh 0; /*33vh*/
    height: 50px;
}
.searchBar .uploadButton{
    display: flex;
    background-color: #03A6A6;
    border-radius: 20px 0 0 20px;
    border: 0;
    width: 70px;
    height: inherit;
}
.searchBar .uploadButton img{
    margin: 4px 0 0 18px;
    width: 40px;
}
.searchBar input{
    width: 400px;
    border: 0;
    padding: 0px 15px;
    font-size: 1.2rem;
    height: inherit;
}

.searchBar .searchButton{
    width: 70px;
    border-radius: 0 20px 20px 0;
    border: 0;
    margin-left: 0px;
    background-color: rgb(255, 255, 255);
    height: inherit;
}

.searchBar .searchButton img{
    margin: auto;
    width: 38px;
    height: 38px;
}
.searchBar .searchButton img:hover, .uploadButton img:hover{
    transition: scale 0.3s ease-in-out;
    scale: 1.1;
}

.submit,button{
    background-color: var(--Pcolor);
    color: white;
    transition: background-color 0.3s ease-out;
}
.submit:hover,button:hover{
    transition: background-color 0.2s ease-out;
    background-color: var(--Scolor);
    color: black;
}

/* footer */
footer {
    /*position: relative;*/
    /*background-color: var(--Pcolor);*/
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    width: 100%;
    margin-top: auto;
    height: 35px;
   
}

footer ul {
    display: flex;
    height:inherit;
}

footer ul li{
    font-size: small;
    padding: 8px 10px;
}

footer ul li a{
    color:aliceblue;
    text-decoration: none;
}

footer ul li a:hover{
    color: #03A6A6;
}


footer hr{
    color: hsl(208, 100%, 97%);
    height: 20px;
    margin-top: 9px;
    border: 1px solid;
}

