
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Consolas, sans-serif;
    --Pcolor:rgb(50, 50, 250);
    --Mcolor:rgb(0, 0, 200);
    --Scolor:rgb(155, 155, 255);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#logo img {
    width: 60px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 15px;
    box-shadow: 0 0px 10px 1px black;
    transition: scale 0.3s ease-in-out;
}

#logo img:hover{
    transition: scale 0.3s ease-in-out;
    scale: 1.2;
}

header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0px 15px 1px black;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: var(--Pcolor);
    color: white;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.option{
    transition: background-color 0.3s ease;
    border: 1px solid black;
    width: 150px;
    height: 80px;
    position: relative;
    user-select: none;
    background-color: var(--Mcolor);
}

.option :hover{
    transition: background-color 0.3s ease;
    background-color: var(--Pcolor);
}

.CoursSelector,.TdSelector{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listCours,.listTd{
    display: none;
    position: absolute;
    width: 101%;
    top: 100%;
    background-color: var(--Pcolor);
    border: 1px solid black;
    z-index: 2;
}

.listCours a,.listTd a{
    transition: background-color 0.3s ease;
    padding: 10px;
    margin: 5px 0;
}
.option a{
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listCours a:hover,.listTd a:hover{
    transition: background-color 0.3s ease-out;
    background-color: #AAA;
}

li,ul{
    list-style-type: none;
}


.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.searchBar input,.searchBar button{
    padding: 0px 40px;
    width: 500px;
    height: 40px;
    font-size: 1.2rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--Mcolor);
    font-size: 1.3rem;
}

main section{
    text-align: center;
}

main fieldset{
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

main input,main select{
    padding: 5px 10px;
    font-size: 1.1rem;
}
.submit,button{
    background-color: var(--Pcolor);
    color: white;
    transition: background-color 0.3s ease-out;
}
.submit:hover,button:hover{
    transition: background-color 0.2s ease-out;
    background-color: var(--Scolor);
    color: black;
}
.searchBar button{
    width: 150px;
}


footer {
    position: relative;
    background-color: var(--Pcolor);
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}
